@media screen and (max-width: 1024px) {
  .footer .footer__row {
    flex-wrap: wrap;
  }
  .footer .footer__row .col-3 {
    width: 46%;
  }
  .footer .phone {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer__row .col-3 {
    width: 100%;
  }
  .social {
    margin-bottom: 20px;
  }
  .footer-bottom__row span {
    margin-bottom: 20px;
  }
}
