@import "./header.css";
@import "./hero.css";
@import "./offers.css";
@import "./invitation.css";
@import "./partners.css";
@import "./footer.css";

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
    .col-3 {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .col-6 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
}

