.nav-bottom {
  padding: 30px 0;
}

.nav-top {
  background-color: #e5e5e5;
  padding: 16px 0px;
}
 
.nav-top::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #e5e5e5;
}

.nav-top__list,
.nav-bottom__list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-top__item,
.nav-bottom__item {
  margin-right: 30px;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.nav-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
